@import "tailwindcss";

:root {
  --background: #000000;
  --foreground: #ffffff;
  --primary: #2828ce;
  --primary-light: #3b3bf0;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-primary-light: var(--primary-light);
  --font-sans: inherit;
}

body {
  background: var(--background);
  color: var(--foreground);
}
